.nav {
    grid-column: 1;
    grid-row: 3 / 5;
    height: fit-content;
    background-color: #feffec;
    border: 2px solid #e7dac3;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.item {
    color: #be9b7b;
    text-decoration: none;
}

.item:hover {
    color: #3c2f2f;
}

.item_friends {
    color: #be9b7b;
    text-decoration: none;
    margin-top: 65px;
}

.item_friends img {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 2px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #be9b7b;
}

.active {
    color: #3c2f2f;
    text-decoration: none;
}

.active:hover {
    color: #3c2f2f;
}