.nav {
    grid-column: 1;
    grid-row: 2 / 4;
    height: fit-content;
    background-color: #feffec;
    border: 2px solid #e7dac3;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.item {
    color: #be9b7b;
    text-decoration: none;
}

.item:hover {
    color: #3c2f2f;
}

.item_friends {
    color: #be9b7b;
    text-decoration: none;
    margin-top: 65px;
}

.active {
    color: #3c2f2f;
    text-decoration: none;
}

.active:hover {
    color: #3c2f2f;
}