.send{
    display: grid;
    grid-template: 1fr / 1fr 80px;
    grid-column-gap: 10px;
    margin-top: 10px;
}

.send_input{
    grid-column: 1;
    border: 1px solid #be9b7b;
    color: #be9b7b;
}

.send_input:focus{
    outline: none;
}