.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template: 60px 20px 1fr 1fr / 200px 20px 1fr;
}

.app-wrapper_content {
  grid-column: 3;
  grid-row: 3;
  background-color: #f5f5f5;
  border: 2px solid #e7dac3;
}