/* Dialogs */

.dialogs {
    display: grid;
    grid-template: 1fr / 200px 1fr;
    font-size: 20px;
}

.dialogs_users {
    grid-column: 1;
    padding: 20px;
    border-right: 2px solid #e7dac3;
}

.dialogs_messages {
    grid-column: 2;
    padding: 10px;
}